
  <div class="
  <% if @tweets.count != 0 %>
    hide-me
  <% end %>
  " >
    <h1 class="no-tweets">You have no tweets at the moment.</h1>
  </div>
  <% @tweets.order('created_at DESC').each do |tweet| %>
  <div class="tweet-box ">
    <div class="tweet-header row justify-content-left">
      <%= image_tag('default_profile', class: "profile-pic") %>
      <p class="username">
        <%= link_to tweet.user.full_name.capitalize, url: user_path(tweet), method: :get %>
      </p>
      <p><%= tweet.created_at.localtime.strftime("%l:%M%P %d/%m/%y") %></p>
      <%= link_to image_tag("edit", :title => '', :border => 0, :alt => '', :class => 'edit-icon'), edit_tweet_path(tweet), method: :get %>
      <%= link_to image_tag("delete-button", :title => '', :border => 0, :alt => '', :class => 'close-icon'), tweet_path(tweet), method: :delete, remote: true, class: 'ml-auto' %>
    </div>
    <div class="tweet-content d-flex justify-content-center">
      <h2 class="align-self-center"><%= tweet.text %></h2>
    </div>
  </div>
  <% end %>
