
  <div class="
  <% if @tweets.count != 0 %>
    hide-me
  <% end %>
  " >
    <h1 class="no-tweets">
      <% if current_user == @user %>
        <span>You have</span>
      <% else %>
        <%= @user.full_name %> has
      <% end %>
      no tweets at the moment.</h1>
  </div>
  <% @tweets.sort {|tweet| tweet.created_at}.each do |tweet| %>
  <div class="tweet-box ">
    <div class="tweet-header row justify-content-left">
      <%= image_tag('default_profile', class: "profile-pic") unless tweet.user.avatar? %>
      <%= image_tag(tweet.user.avatar.url, class: "profile-pic") if tweet.user.avatar? %>
      <p class="username">
        <%= link_to tweet.user.full_name.capitalize, url: user_path(tweet), method: :get %>
      </p>
      <p><%= tweet.created_at.localtime.strftime("%l:%M%P %d/%m/%y") %></p>
      <%= link_to image_tag("edit", :title => '', :border => 0, :alt => '', :class => 'edit-icon'), edit_tweet_path(tweet), method: :get if tweet.user == current_user %>
      <%= link_to image_tag("delete-button", :title => '', :border => 0, :alt => '', :class => 'close-icon'), tweet_path(tweet), method: :delete, remote: true, class: 'ml-auto' if tweet.user == current_user %>
    </div>
    <div class="tweet-content">
      <h2 class="align-self-center"><%= tweet.text %></h2>
      <div class="row align-self-center">
        <% tweet.hashtags.each do |hashtag| %>
          <span>#<%= hashtag.name.downcase %>&nbsp</span>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
