<div class="container">
  <%= simple_form_for @tweet, url: tweet_path(@tweet), method: :patch do |f| %>
  <%= f.input :text, label: 'Edit your tweet..' %>
  <div class="d-flex">
    <%= f.button :submit, 'Tweet it!', class: 'btn btn-primary ml-auto'%>
  </div>
  <% end %>
</div>
<div class="container">
  <h1>Add tags</h1>
  <%= simple_form_for @tag, url: tweet_hashtags_path(@tweet), method: :post do |f| %>
  <%= f.input :name, label: 'Add a tag' %>
  <%= hidden_field_tag :user_id, current_user.id %>
  <%= f.button :submit, 'Tag it!' %>
  <% end %>
  <hr />
  <h1>Tags</h1>
  <ul id="tags_body">
    <%= render partial: 'tags_body' %>
  </ul>
  <hr />
</div>
