<div class="container">
  <div class="profile-header row">
    <%= image_tag 'default_profile', class: 'avatar-profile' unless @user.avatar? %>
    <%= image_tag @user.avatar.url, class: 'avatar-profile' if @user.avatar? %>
    <div class="profile-text d-flex flex-column">
      <h1 class="profile-name" ><%= @user.full_name.capitalize %></h1>
      <h2><%= @user.email %></h2>
      <h2 id="followers-count"><%= @user.followers.count %>&nbspFollowers</h2>
      <div id="follow_form">
        <% if current_user.id != @user.id %>
          <% if current_user.following?(@user) %>
            <%= render 'unfollow' %>
          <% else %>
            <%= render 'follow' %>
          <% end %>
          <% else %>
            <%= link_to "Edit", edit_user_path(current_user.id), method: :get %>
        <% end %>
      </div>
    </div>
  </div>
  <hr />
  <div class="container d-flex">
    <div class="users-container col-3">
      <h1>Users</h1>
      <ul>
        <% @users.each do |user| %>
          <li> <%= link_to user.full_name.capitalize, user_path(user.id) %></li>
        <% end %>
      </ul>
    </div>
    <div class="tweet-body col-6">
      <%= render partial: 'tweets/tweet_body' %>
    </div>
  </div>
</div>
